.header{
    max-width: 600px;
    font-weight: 100;
    background-color:  #a2c11c; 
    color:#2c5d63;
    font-size: x-large;
    margin-top:30px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    max-height: 150px;
    content: 5px;

}

h1 {
    max-width: 500px;
    font-weight: 500;
    background-color:  #a2c11c; 
    color: #2c5d63;;
    font-size: x-large;
    margin-top:30px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 150px;
    content: 5px;
    text-align: center;
  }
  
  .but{
   background-color:#995a82;
   color:white;
   border-color: #995a82;
  }

  .but2{
    background-color:#995a82;
    color:white;
    border-color: #995a82;
   }
   .plc{
    text-align: center;
   }